In [18]:
import pandas as pd 

msc_fail = pd.read_csv("MSc_fail.csv") 

msc_fail.head()

,Age,Female,Fail,Work Experience,English,Country Code,PG Degree,Agrade,BelowBGrade,Year2004,Year2005,Year2006,Year2007
0,22,1,0,0,0,10,0,0,0,0,0,0,0
1,24,0,1,0,1,8,0,0,0,0,0,0,0
2,28,0,0,0,1,10,0,0,0,0,0,0,0
3,23,0,0,0,1,8,0,0,0,0,0,0,0
4,23,0,0,1,1,8,0,0,0,0,0,0,0

# Question 1

In [19]:
x_list = ["Age", "Female", "Work Experience", "English", 
          "PG Degree", "Agrade", "BelowBGrade", "Year2004", 
          "Year2005", "Year2006", "Year2007"]
y = msc_fail["Fail"]
x = msc_fail[x_list]

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

x1_train, x1_test, y1_train, y1_test = train_test_split(x, y, random_state=0)

logreg = LogisticRegression().fit(x1_train,y1_train)
print(logreg.coef_)

print("Training set score: {:.3f}".format(logreg.score(x1_train,y1_train)))
print("Test set score: {:.3f}".format(logreg.score(x1_test,y1_test)))

[[ 0.0157023  -0.22056742 -0.66264449  0.04256528  0.21030045 -1.13235527
   0.43092646  0.15206847 -0.00890472  0.85626356  0.80157956]]
Training set score: 0.867
Test set score: 0.864

In [20]:
import statsmodels.api as sm

logit_model = sm.Logit(y,x)
result = logit_model.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.363545
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      489
Method:                           MLE   Df Model:                           10
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                 0.07711
Time:                        20:27:30   Log-Likelihood:                -181.77
converged:                       True   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 0.0007436
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
Age                -0.0645      0.016     -4.057      0.000      -0.096      -0.033
Female             -0.4759      0.341     -1.396      0.163      -1.144       0.192
Work Experience    -0.4994      0.282     -1.774      0.076      -1.051       0.052
English            -0.3785      0.262     -1.445      0.148      -0.892       0.135
PG Degree           0.5135      0.390      1.316      0.188      -0.252       1.279
Agrade             -1.1742      0.489     -2.402      0.016      -2.132      -0.216
BelowBGrade         0.5557      0.378      1.470      0.141      -0.185       1.296
Year2004            0.4028      0.461      0.873      0.383      -0.502       1.307
Year2005           -0.4790      0.548     -0.874      0.382      -1.553       0.595
Year2006            1.0344      0.437      2.368      0.018       0.178       1.890
Year2007            0.5281      0.447      1.181      0.238      -0.348       1.404
===================================================================================
"""

adding a constant to the logit model

In [21]:
from statsmodels.discrete.discrete_model import Logit, Probit
from statsmodels.tools import add_constant

x = add_constant(x)
Logit(y, x).fit().summary()

Optimization terminated successfully.
         Current function value: 0.359433
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      488
Method:                           MLE   Df Model:                           11
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                 0.08755
Time:                        20:27:30   Log-Likelihood:                -179.72
converged:                       True   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 0.0003010
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -2.2564      1.073     -2.103      0.035      -4.359      -0.153
Age                 0.0110      0.038      0.289      0.773      -0.064       0.086
Female             -0.3339      0.349     -0.956      0.339      -1.018       0.351
Work Experience    -0.5688      0.288     -1.972      0.049      -1.134      -0.003
English            -0.1651      0.283     -0.584      0.560      -0.720       0.389
PG Degree           0.2121      0.420      0.505      0.614      -0.611       1.035
Agrade             -1.0850      0.491     -2.209      0.027      -2.048      -0.122
BelowBGrade         0.5624      0.374      1.506      0.132      -0.170       1.294
Year2004            0.6532      0.501      1.304      0.192      -0.329       1.635
Year2005           -0.1838      0.588     -0.313      0.755      -1.336       0.969
Year2006            1.2466      0.474      2.632      0.008       0.318       2.175
Year2007            0.8504      0.497      1.711      0.087      -0.124       1.825
===================================================================================
"""

building the probit model

In [22]:
Probit(y, x).fit().summary()

Optimization terminated successfully.
         Current function value: 0.358913
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                         Probit   Df Residuals:                      488
Method:                           MLE   Df Model:                           11
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                 0.08887
Time:                        20:27:30   Log-Likelihood:                -179.46
converged:                       True   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 0.0002471
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -1.2872      0.569     -2.261      0.024      -2.403      -0.172
Age                 0.0057      0.020      0.282      0.778      -0.034       0.045
Female             -0.1941      0.184     -1.052      0.293      -0.556       0.167
Work Experience    -0.3182      0.157     -2.031      0.042      -0.625      -0.011
English            -0.0938      0.154     -0.610      0.542      -0.395       0.207
PG Degree           0.1330      0.230      0.577      0.564      -0.318       0.584
Agrade             -0.5388      0.235     -2.290      0.022      -1.000      -0.078
BelowBGrade         0.3418      0.214      1.595      0.111      -0.078       0.762
Year2004            0.3497      0.258      1.355      0.175      -0.156       0.855
Year2005           -0.1083      0.293     -0.370      0.711      -0.682       0.466
Year2006            0.6736      0.246      2.735      0.006       0.191       1.156
Year2007            0.4338      0.259      1.673      0.094      -0.074       0.942
===================================================================================
"""

# Question 2

In [23]:
msc_fail.groupby('Country Code').mean()

,Age,Female,Fail,Work Experience,English,PG Degree,Agrade,BelowBGrade,Year2004,Year2005,Year2006,Year2007
Country Code,,,,,,,,,,,,
1,24.629630,0.296296,0.111111,0.518519,1.000000,0.185185,0.333333,0.222222,0.111111,0.185185,0.407407,0.148148
2,26.220000,0.430000,0.150000,0.520000,0.050000,0.180000,0.060000,0.110000,0.220000,0.280000,0.130000,0.180000
3,23.687500,0.250000,0.000000,0.468750,0.000000,0.000000,0.281250,0.062500,0.281250,0.218750,0.156250,0.187500
4,23.075000,0.350000,0.075000,0.625000,1.000000,0.225000,0.225000,0.075000,0.200000,0.175000,0.225000,0.300000
5,35.111111,0.111111,0.111111,0.777778,0.000000,0.333333,0.000000,0.111111,0.222222,0.444444,0.222222,0.000000
6,30.333333,0.250000,0.250000,1.000000,1.000000,0.166667,0.000000,0.083333,0.333333,0.333333,0.250000,0.083333
7,26.911765,0.352941,0.294118,0.558824,0.000000,0.058824,0.411765,0.176471,0.088235,0.000000,0.323529,0.352941
8,24.000000,0.256250,0.137500,0.468750,1.000000,0.068750,0.168750,0.087500,0.206250,0.168750,0.193750,0.150000
9,25.652174,0.217391,0.130435,0.782609,0.260870,0.130435,0.347826,0.086957,0.260870,0.260870,0.173913,0.173913
10,28.111111,0.238095,0.111111,0.809524,0.396825,0.285714,0.333333,0.126984,0.158730,0.190476,0.174603,0.301587

In [24]:
msc_fail.groupby('Country Code').count()

,Age,Female,Fail,Work Experience,English,PG Degree,Agrade,BelowBGrade,Year2004,Year2005,Year2006,Year2007
Country Code,,,,,,,,,,,,
1,27,27,27,27,27,27,27,27,27,27,27,27
2,100,100,100,100,100,100,100,100,100,100,100,100
3,32,32,32,32,32,32,32,32,32,32,32,32
4,40,40,40,40,40,40,40,40,40,40,40,40
5,9,9,9,9,9,9,9,9,9,9,9,9
6,12,12,12,12,12,12,12,12,12,12,12,12
7,34,34,34,34,34,34,34,34,34,34,34,34
8,160,160,160,160,160,160,160,160,160,160,160,160
9,23,23,23,23,23,23,23,23,23,23,23,23
10,63,63,63,63,63,63,63,63,63,63,63,63

In [25]:
msc_fail.groupby('Fail').mean()

,Age,Female,Work Experience,English,Country Code,PG Degree,Agrade,BelowBGrade,Year2004,Year2005,Year2006,Year2007
Fail,,,,,,,,,,,,
0,25.475751,0.311778,0.591224,0.554273,5.875289,0.136259,0.226328,0.092379,0.200924,0.217090,0.177829,0.189376
1,25.865672,0.223881,0.477612,0.522388,6.134328,0.179104,0.074627,0.208955,0.194030,0.089552,0.343284,0.268657

In [26]:
msc_fail.groupby('Fail').count()

,Age,Female,Work Experience,English,Country Code,PG Degree,Agrade,BelowBGrade,Year2004,Year2005,Year2006,Year2007
Fail,,,,,,,,,,,,
0,433,433,433,433,433,433,433,433,433,433,433,433
1,67,67,67,67,67,67,67,67,67,67,67,67

Then we run a country regression

In [27]:
msc_country = pd.read_csv("MSc_Country.csv") 

msc_country.head()

x2_list = ["Age", "Female", "Work Experience", "English", 
           "PG Degree", "Agrade", "BelowBGrade", "Year2004", 
           "Year2005", "Year2006", "Year2007", "Country1",
           "Country2", "Country3", "Country4", "Country5",
           "Country6", "Country7", "Country9", "Country10"]
y2 = msc_fail["Fail"]
x2 = msc_country[x2_list]

In [28]:
x2 = add_constant(x2)
Logit(y2, x2).fit().summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.341316
         Iterations: 35
/home/free/Documents/econometric/env/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      479
Method:                           MLE   Df Model:                           20
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                  0.1335
Time:                        20:27:31   Log-Likelihood:                -170.66
converged:                      False   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 9.290e-05
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -1.2172      1.379     -0.883      0.377      -3.920       1.485
Age                -0.0251      0.047     -0.537      0.591      -0.117       0.067
Female             -0.4051      0.362     -1.120      0.263      -1.114       0.304
Work Experience    -0.6253      0.307     -2.036      0.042      -1.227      -0.023
English            -0.1946      0.654     -0.297      0.766      -1.477       1.088
PG Degree           0.4247      0.439      0.967      0.334      -0.436       1.286
Agrade             -1.1818      0.517     -2.284      0.022      -2.196      -0.168
BelowBGrade         0.5095      0.391      1.303      0.192      -0.257       1.276
Year2004            0.6823      0.511      1.335      0.182      -0.320       1.684
Year2005           -0.1508      0.603     -0.250      0.803      -1.333       1.032
Year2006            1.2243      0.485      2.525      0.012       0.274       2.175
Year2007            0.8221      0.511      1.609      0.108      -0.179       1.823
Country1           -0.3789      0.690     -0.549      0.583      -1.732       0.974
Country2           -0.0653      0.729     -0.089      0.929      -1.495       1.364
Country3          -21.6158   2.01e+04     -0.001      0.999   -3.94e+04    3.93e+04
Country4           -0.7385      0.669     -1.104      0.270      -2.050       0.573
Country5           -0.1584      1.361     -0.116      0.907      -2.826       2.509
Country6            1.0257      0.817      1.256      0.209      -0.575       2.627
Country7            0.9116      0.829      1.100      0.271      -0.713       2.536
Country9            0.2631      0.861      0.305      0.760      -1.425       1.951
Country10          -0.1930      0.660     -0.292      0.770      -1.487       1.101
===================================================================================
"""

change to a robust version

In [29]:
Logit(y2, x2).fit(cov_type="hc0").summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.341316
         Iterations: 35
/home/free/Documents/econometric/env/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      479
Method:                           MLE   Df Model:                           20
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                  0.1335
Time:                        20:27:31   Log-Likelihood:                -170.66
converged:                      False   LL-Null:                       -196.96
Covariance Type:                  hc0   LLR p-value:                 9.290e-05
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -1.2172      1.875     -0.649      0.516      -4.892       2.458
Age                -0.0251      0.065     -0.384      0.701      -0.153       0.103
Female             -0.4051      0.380     -1.067      0.286      -1.149       0.339
Work Experience    -0.6253      0.300     -2.082      0.037      -1.214      -0.037
English            -0.1946      0.641     -0.304      0.761      -1.451       1.062
PG Degree           0.4247      0.448      0.949      0.343      -0.453       1.302
Agrade             -1.1818      0.502     -2.353      0.019      -2.166      -0.197
BelowBGrade         0.5095      0.391      1.303      0.193      -0.257       1.276
Year2004            0.6823      0.500      1.365      0.172      -0.298       1.662
Year2005           -0.1508      0.531     -0.284      0.776      -1.191       0.889
Year2006            1.2243      0.471      2.597      0.009       0.300       2.148
Year2007            0.8221      0.493      1.666      0.096      -0.145       1.789
Country1           -0.3789      0.675     -0.562      0.574      -1.701       0.943
Country2           -0.0653      0.669     -0.098      0.922      -1.376       1.246
Country3          -21.6158      0.719    -30.063      0.000     -23.025     -20.207
Country4           -0.7385      0.662     -1.115      0.265      -2.036       0.559
Country5           -0.1584      1.392     -0.114      0.909      -2.886       2.569
Country6            1.0257      0.872      1.177      0.239      -0.683       2.734
Country7            0.9116      0.780      1.168      0.243      -0.618       2.441
Country9            0.2631      0.858      0.306      0.759      -1.419       1.946
Country10          -0.1930      0.628     -0.307      0.759      -1.424       1.038
===================================================================================
"""

In [30]:
Probit(y2, x2).fit().summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.340267
         Iterations: 35
/home/free/Documents/econometric/env/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                          Probit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                         Probit   Df Residuals:                      479
Method:                           MLE   Df Model:                           20
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                  0.1362
Time:                        20:27:31   Log-Likelihood:                -170.13
converged:                      False   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 6.511e-05
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -0.7879      0.686     -1.149      0.251      -2.132       0.556
Age                -0.0122      0.023     -0.527      0.598      -0.058       0.033
Female             -0.2349      0.193     -1.220      0.222      -0.612       0.142
Work Experience    -0.3457      0.168     -2.055      0.040      -0.675      -0.016
English            -0.0910      0.354     -0.257      0.797      -0.785       0.603
PG Degree           0.2373      0.243      0.978      0.328      -0.238       0.713
Agrade             -0.6288      0.260     -2.415      0.016      -1.139      -0.118
BelowBGrade         0.3091      0.226      1.368      0.171      -0.134       0.752
Year2004            0.3805      0.266      1.430      0.153      -0.141       0.902
Year2005           -0.1080      0.312     -0.346      0.730      -0.720       0.504
Year2006            0.6799      0.257      2.648      0.008       0.177       1.183
Year2007            0.4328      0.270      1.601      0.109      -0.097       0.963
Country1           -0.2275      0.376     -0.605      0.545      -0.965       0.510
Country2           -0.0181      0.401     -0.045      0.964      -0.804       0.768
Country3           -6.2731   2.14e+04     -0.000      1.000   -4.19e+04    4.19e+04
Country4           -0.4046      0.347     -1.167      0.243      -1.084       0.275
Country5           -0.0930      0.727     -0.128      0.898      -1.517       1.331
Country6            0.5896      0.459      1.285      0.199      -0.310       1.489
Country7            0.5483      0.463      1.185      0.236      -0.359       1.455
Country9            0.1380      0.464      0.297      0.766      -0.772       1.048
Country10          -0.0949      0.356     -0.267      0.790      -0.793       0.603
===================================================================================
"""

# Question 3

In [31]:
msc_age = pd.read_csv("MSc_LogAge.csv") 

msc_age.head()

x3_list = ["Female", "Work Experience", "English", 
           "PG Degree", "Agrade", "BelowBGrade", "Year2004", 
           "Year2005", "Year2006", "Year2007", "Country1",
           "Country2", "Country3", "Country4", "Country5",
           "Country6", "Country7", "Country9", "Country10", "LogAge"]
y3 = msc_age["Fail"]
x3 = msc_age[x3_list]

In [32]:
x3 = add_constant(x3)
Logit(y3, x3).fit().summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.340690
         Iterations: 35
/home/free/Documents/econometric/env/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      479
Method:                           MLE   Df Model:                           20
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                  0.1351
Time:                        20:27:31   Log-Likelihood:                -170.34
converged:                      False   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 7.516e-05
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               2.2833      4.410      0.518      0.605      -6.360      10.927
Female             -0.4198      0.363     -1.158      0.247      -1.130       0.291
Work Experience    -0.6042      0.307     -1.967      0.049      -1.206      -0.002
English            -0.2086      0.654     -0.319      0.750      -1.490       1.073
PG Degree           0.5064      0.440      1.150      0.250      -0.357       1.370
Agrade             -1.1906      0.518     -2.297      0.022      -2.206      -0.175
BelowBGrade         0.5092      0.392      1.300      0.194      -0.258       1.277
Year2004            0.6721      0.512      1.313      0.189      -0.331       1.675
Year2005           -0.1808      0.605     -0.299      0.765      -1.366       1.005
Year2006            1.2239      0.485      2.523      0.012       0.273       2.175
Year2007            0.7981      0.512      1.558      0.119      -0.206       1.802
Country1           -0.3930      0.691     -0.569      0.570      -1.748       0.962
Country2           -0.0392      0.729     -0.054      0.957      -1.467       1.389
Country3          -21.8689   2.28e+04     -0.001      0.999   -4.47e+04    4.46e+04
Country4           -0.7746      0.670     -1.156      0.248      -2.088       0.539
Country5           -0.0113      1.356     -0.008      0.993      -2.669       2.647
Country6            1.1492      0.818      1.405      0.160      -0.454       2.753
Country7            0.9691      0.831      1.167      0.243      -0.659       2.597
Country9            0.2968      0.857      0.346      0.729      -1.383       1.977
Country10          -0.1418      0.662     -0.214      0.830      -1.440       1.156
LogAge             -1.2892      1.363     -0.946      0.344      -3.961       1.382
===================================================================================
"""

In [33]:
from statsmodels.stats.outliers_influence import variance_inflation_factor 
  
# VIF dataframe 
vif_data = pd.DataFrame() 
vif_data["feature"] = x3.columns 
  
# calculating VIF for each feature 
vif_data["VIF"] = [variance_inflation_factor(x3.values, i) 
                          for i in range(len(x3.columns))] 
  
vif_data

            feature         VIF
0             const  940.642490
1            Female    1.203047
2   Work Experience    1.137165
3           English    5.262887
4         PG Degree    1.327798
5            Agrade    1.159329
6       BelowBGrade    1.124524
7          Year2004    1.674100
8          Year2005    1.756683
9          Year2006    1.706126
10         Year2007    1.850955
11         Country1    1.151826
12         Country2    4.415502
13         Country3    2.408283
14         Country4    1.234985
15         Country5    1.593440
16         Country6    1.179815
17         Country7    2.597576
18         Country9    1.629389
19        Country10    2.254665
20           LogAge    1.811962

remove high vif or high p-value

In [34]:
x3_list = ["Work Experience",
           "Agrade",
           "Year2006"]
y3 = msc_age["Fail"]
x3 = msc_age[x3_list]
x3 = add_constant(x3)
Logit(y3, x3).fit().summary()

Optimization terminated successfully.
         Current function value: 0.372750
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Fail   No. Observations:                  500
Model:                          Logit   Df Residuals:                      496
Method:                           MLE   Df Model:                            3
Date:                Wed, 23 Dec 2020   Pseudo R-squ.:                 0.05374
Time:                        20:27:31   Log-Likelihood:                -186.37
converged:                       True   LL-Null:                       -196.96
Covariance Type:            nonrobust   LLR p-value:                 9.703e-05
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              -1.6688      0.213     -7.850      0.000      -2.085      -1.252
Work Experience    -0.4520      0.268     -1.684      0.092      -0.978       0.074
Agrade             -1.2718      0.482     -2.639      0.008      -2.216      -0.327
Year2006            0.8672      0.291      2.984      0.003       0.298       1.437
===================================================================================
"""